.ui-page { 
    background-color: #05A6B7;
}

div[data-role=header] {
	height: 10px;
}

.ui-btn-right{
	right: .4em;
	background-color: white !important;
}

p {
	font-size: 120%;
	font-style: oblique;
}

textarea {
	font-size: 100%;
}

input {
    height: 20px;
    padding-left: 30%;
    margin-left: 30%;
    font-size: 85%
}

div[data-role=fieldcontain] {
	width: 80%;
	margin-left: 10%;

}

.comprado {
	text-decoration:line-through !important;
}

.reservado {
	color: orange !important;
}

.separacionHorizontal {
	margin-top: 15%;
}

label, a{
	background-color: #D8FBFF !important;
}

#botonMicartaPrincipal {
	margin-top: 30%;
	margin-bottom: 20%;
}

#izquierda {
	margin-right: 40%;
}