.ui-page{
	background-color: white;
	color: bold;
}

div[data-role=header] {
	height: 10px;
}

#botonCerrar{
	margin-left: 65%;
}

input {
    height: 20px;
    padding-left: 30%;
    margin-left: 30%;
}

div[data-role=fieldcontain] {
	width: 80%;
	margin-left: 10%;

}

.libre {
	
}

.comprado {
	text-decoration:line-through;
}

.reservado {
	color: orange;
}

